@import '../abstracts/mixins';

/* todo: comments are not rendered correctly in CSS, check that */

/* Global */
.woocommerce {
    a.button,
    button.button,
    .button {
        height: $button-height;
        line-height: $button-height;
        padding: 0 20px;
        border-radius: 0;
        border: 1px solid black;
        background-color: transparent;

        &:hover {
            background-color: $color-dark;
            border-color: $color-dark;
            color: $color-white;
        }
    }

    table.shop_table {
        border-radius: 0;
    }


    table.shop_table .quantity,
    div.product form.cart div.quantity {
        margin: 0 !important;

        input[type=number] {
            -moz-appearance:textfield;
            height: 54px;
        }

        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

:focus {
    outline: none;
}




/* Select dropdowns */
.select2-selection.select2-selection--single {
    height: $input-height;
    border-radius: 0;

    .select2-selection__rendered {
        line-height: $input-height;
    }

    .select2-selection__arrow {
        height: $input-height;
    }
}

.select2-search--dropdown .select2-search__field {
    height: auto;
}

.select2-container--open .select2-dropdown--above {
    border-radius: 0;
}




#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-cart-form table.cart img,
.woocommerce-checkout table.cart img {
    width: 54px;
}



/* Product list (home page) title and price */
.woocommerce ul.products li.product {
    .woocommerce-loop-product__title,
    .price {
        color: $color-black;
        text-align: center;
    }

    .woocommerce-loop-product__title {
        font-weight: 400;
    }

    .price {
        font-weight: 700;
    }
}



/* Messages and errors */
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    border: 1px solid $color-woocommerce-border;
    color: $color-black;
    padding: 30px 20px 30px 60px;
    background-color: transparent;

    .button.wc-forward,
    a.button,
    a.woocommerce-Button.button {
        position: absolute;
        right: 20px;
        top: 12px;
        margin: 0;
    }
}


.cart-holder {
    .woocommerce-error,
    .woocommerce-info,
    .woocommerce-message {
        color: $color-white;
        border-color: $color-white;
    }
}

.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
    position: absolute;
    top: 31px;
    left: 25px;
    background-color: white;
}

.woocommerce-info::before,
.woocommerce-message:before {
    color: $color-green-woocommerce;
    background: transparent;
}

.woocommerce-error::before {
    color: $color-red;
}




/* Product tabs */
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    height: $input-height;
    padding: 10px 20px;
    border-radius: 0;
    margin: 0 -5px -1px;

    ul.tabs li.active {
        border-radius: 0;
    }

    ul.tabs li::before,
    ul.tabs li::after {
        display: none;
    }

    .panel p {
        color: #7c7c80;
    }
}




/* Shopping cart */
.cart-holder .woocommerce {
    margin: 180px 0;

    table.shop_table {
        &,
        td,
        tbody th {
            border-color: $color-white;
            border-radius: 0;
        }

        td {
            padding: 11px;

            &.product-thumbnail {
                padding: 5px 11px;
            }
        }

        .quantity {
            display: inline-block;
            float: left;
        }
    }


    /* Text */
    table.shop_table,
    table.shop_table td,
    .cart_totals h2,
    .button,
    .checkout-button.button,
    .cart-empty {
        color: $color-white;
    }


    /* Buttons */
    .button,
    .checkout-button.button {
        background-color: transparent;
        border: 1px solid $color-white;
        border-radius: 0;
        margin-bottom: 1em;
        font-size: 1.25em;

        &:hover {
            background-color: $color-white;
            color: $color-purple;
        }

        &.checkout-button {
            float: right;
        }
    }

    button[name="update_cart"] {
        margin-bottom: 0;
    }

    button.custom-remove {
        @include icon-x($position: relative, $size: 15px, $weight-in-px: 2px, $color: $color-white);
        display: block;
        border: none;
        margin: 0 auto;
    }


    /* Cart empty */
    .cart-empty {
        margin-bottom: 20px;
    }

    .cart-empty,
    .return-to-shop {
        text-align: center;
    }
}




/* My account */
.woocommerce-MyAccount-content {

    .woocommerce-Addresses.addresses .woocommerce-Address {
        width: 100%;
        padding-top: 30px;
    }

    .woocommerce-address-fields button.button,
    .woocommerce-EditAccountForm .button {
        margin: 20px 3px;
    }
}

.woocommerce-MyAccount-navigation {

    ul {
        padding-left: 0;

        li {
            list-style: none;

            a {
                padding: 20px;
                border: 1px solid $color-black;
                display: inline-block;
                margin-bottom: 10px;
                text-decoration: none;

                &:hover {
                    background-color: $color-dark;
                    border-color: $color-dark;
                    color: $color-white;
                }
            }

            &.is-active a {
                font-weight: bold;
                background-color: $color-black;
                color: $color-white;
            }
        }
    }
}




/* Single product */
.woocommerce {
    .quantity-buttons-custom-holder {
        display: inline-block;
    }
    button.quantity-button {
        width: 50px;
        float: left;
        background: transparent;
        border: 1px solid $color-light-gray;
        font-size: 20px;
        font-weight: 100;
        cursor: pointer;
        padding: 0 10px;


        &.quantity-increase {
            border-left: 0;
        }

        &.quantity-decrease {
            border-right: 0;
        }
    }

    .product_meta small {
        display: block;
        margin-bottom: 5px;
    }


    div.product {

        p.price  {
            margin-bottom: 25px;
        }

        form.cart .single_add_to_cart_button {
            background-color: $color-purple;
            float: none;
            width: 50%;
            vertical-align: top;
        }

        form.cart .variations td  {
            text-align: left;
            padding: 3px 0;

            select {
                border-radius: 0;
                height: 50px;
                margin-right: 0;
                cursor: pointer;
                outline: 0;
                font-size: 14px;
                -moz-appearance: none; /*Firefox*/
                -webkit-appearance: none; /*Safari and Chrome*/
                appearance: none;
                background: $color-white url("../img/lnr-chevron-down.png") no-repeat right 12px center;
            }
        }

        .woocommerce-tabs .panel p {
            color: $color-medium-gray;
        }
    }


    div.product form.cart .woocommerce-variation-description,
    .woocommerce-product-details__short-description {
        color: $color-medium-gray;
        font-size: 14px;
        margin-bottom: 25px;
    }


    .woocommerce-variation-price {
        margin-bottom: 25px;
    }

    .product_meta {
        margin-bottom: 25px;
    }
}





/* Hover */
.woocommerce {

    .has-gallery {
        position: relative;

        .onsale {
            z-index: $z-index-onsale-icon;
        }

        .wp-post-image {
            opacity: 1;
        }

        .wp-post-image--secondary {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
    }


    ul.products li.has-gallery {

        a.woocommerce-loop-product__link [class*="wp-post-image"] {
            -webkit-transition: opacity .5s ease;
            -o-transition: opacity .5s ease;
            transition: opacity .5s ease;
            pointer-events: none;
        }

        &:hover a.woocommerce-loop-product__link .wp-post-image {
            opacity: 0;
        }

        &:hover a.woocommerce-loop-product__link .wp-post-image--secondary {
            opacity: 1;
        }
    }

}




/* Quick View and Add To Cart button */
/*
.product a.quick_view.button,
.product a.add_to_cart_button.button {
    position: absolute;
    bottom: 65px;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 22px;
    font-family: $font-family-icons-tertiary;
    color: $color-white;
    background: $color-black;
    font-weight: 100;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    text-align: center;
    line-height: 50px;
    right: 50%;

}

.product a.quick_view.button {
    transition-delay:0.1s;
    margin-right: -60px;
    &:after {
        content: $icon-fa-eye;
    }
}

.product a.add_to_cart_button.button {
    transition-delay:0.2s;
    margin-left: -60px;
    &:after {
        content: $icon-fa-cart;
        padding-right: 2px;
    }
}

li.product:hover {
    a.quick_view.button,
    a.add_to_cart_button.button {
        bottom: 90px;
        opacity: 1;
    }
}
*/

