/* Z-index scale */

$z-index-onsale-icon: 200;
$z-index-overlay: 100;
$z-index-dropdown-menu: 60;
$z-index-menu-item: 50;
$z-index-menu-item-background: 49;
$z-index-menu-bar: 40;
$z-index-logo-bar: 30;